#gallery {
  margin: 100px 12px 80px 12px;
}

#project-inner {
  list-style-type: none;
  padding: 0;
}

.project-tile {
  margin-bottom: 15px;
}

.project-image {
  width: 100%;
}


@media screen and (min-width: 800px) {
  #project-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 100px auto 80px auto;
  }

  .project-tile {
    border: .5px solid #52596038;
    padding: 5px;
  }

  .project-image {
    height: 300px;
    object-fit: contain;
  }
}

/* Grid items */
/* .item1 {
  grid-column: 1 / 7;
  grid-row: 1 / 4;
}
.item2 {
  grid-column: 1 / 5;
  grid-row: 4;
}
.item3 {
  grid-column: 5 / 9;
  grid-row: 4;
}
.item4 {
  grid-column: 7 / 9;
  grid-row: 1
}
.item5 {
  grid-column: 7/ 9;
  grid-row: 2;
} */

  /* display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(8fr, auto); */
