#gallery {
  margin: 100px 12px 80px 12px;
}

#project-inner {
  list-style-type: none;
  padding: 0;
}

.project-tile {
  margin-bottom: 15px;
}

.project-image {
  width: 100%;
}


@media screen and (min-width: 1700px) {
  #gallery {
    margin: 0px 12px 80px 12px !important;
  }

  #project-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 25px auto 125px auto !important;
  }

  .project-tile {
    border: .5px solid #52596038;
    padding: 5px;
  }

  .project-image {
    height: 300px;
    object-fit: contain;
  }
}
