#ProjectPage {
  margin: 100px 12px 80px 12px;
  max-width: 1000px;
}

#project-page-inner {
  padding: 0;
  list-style-type: none;
}

#project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.project-header-tag {
  font-size: 24px;
  color: #525960;
}

#project-page-image {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

#project-links-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-link {
  color: #525960;
  text-decoration: none;
  margin-right: 15px;
}

.project-link:hover {
  border-bottom: 1px solid #525960;
}

@media screen and (min-width: 800px) {
  #ProjectPage {
    margin: 100px auto 80px auto;
  }
}
