#nav {
  background-color: #f8f8f8;
  border-bottom: .5px solid #52596038;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  list-style-type: none;
  margin: 0 12px;
  padding: 0;
}

#nav > ul > li {
  margin: 15px 0;
}

#nav > ul > li > a {
  color: #525960;
  text-decoration: none !important;
  font-size: 15px;
  transition: font-size .3s;
}

#nav > ul > li > a:hover {
  color: rgb(23, 23, 23);
  font-size: 18px;
}

.active {
  color: #3aafa9 !important;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  #nav > ul {
    justify-content: space-around;
  }
}

@media screen and (min-width: 800px) {
  #nav {
    border-right: .5px solid #52596038;
    border: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 275px;
  }

  #nav > ul {
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;

    flex-direction: column;
  }

  #self {
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
    width: 100%;
  }

  #nav-author {
    color: #525960;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
  }
}
