#nav {
  /* background-color: blue; */
  /* width: fit-content; */
  /* display: flex; */
  /* margin: 0 24px; */
   margin: 0 12px;
}

#nav > ul {
  /* background-color: rgb(223, 161, 161); */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

#nav > ul > li {
  margin: 15px 0;
}

a {
  color: #525960;
  text-decoration: none !important;
}

a:hover {
  color: rgb(23, 23, 23);
  border-bottom: 1px solid rgb(23, 23, 23);
}
