#contact {
  color: #525960;
  margin: 100px 12px 75px 12px;
  max-width: 600px;
}

#contact > h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

#contact-inner {
  list-style-type: none;
  padding: 0;
}

#contact-inner > li > a {
  color: #525960;
  text-decoration: none;
}

#resume {
  border-bottom: 1px solid #525960;
  margin-top: 16px;
  width: fit-content;
}

#resume > svg {
  margin-bottom: -3px;
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  #contact {
    margin: 100px auto 75px auto;
    max-width: 600px;
  }
}
