#about-splash {
  background-color: gray;
  height: 100vh;
  margin-left: 275px;
  width: calc(100% - 275px);

  /* text-align: center; */

}

#about-splash-inner {
  background-color: lightblue;
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  padding-top: 100px;

  /* margin: 100px auto 75px auto; */
}

#about-splash-inner > * {
  padding: 0;
  margin: 0;
}

#carousel-title {
  color: #525960;
  font-size: 35px;
  /* font-weight: 900; */
  /* margin: 0 12px 12px 12px; */
  font-size: 4.5rem;
  line-height: 7.5rem;
  font-family: 'Poppins';
}
