.carousel-container {
  width: fit-content;
  margin: 0 auto;
}

.carousel-container-inner {
  display: flex;
  margin: 200px auto 0 auto;
  width: 1300px;
}

#carousel-title {
  color: #525960;
  font-size: 24px;
  margin: 0 12px 12px 12px;
}

.project-btns {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;

}

.project-num {
  font-size: 18px;
}

.project-btns > li {
  cursor: pointer;
  /* text-align: right; */
  /* width: 250px !important; */
  /* background-color: grey; */

}

/* .project-btns > li:hover {
  width: 400px;
  text-align: right;
} */


@media only screen and (min-width: 600px) {
  .carousel {
    margin: 100px auto 0 auto;
  }

  .inner > img {
    height: 562.5px;
  }

  #overlay  {
    height: 562.5px;
  }
}


#carousel-inner {
  height: 500px;
  /* display: flex; */
  /* align-items: center; */
}

#test {
  /* background-color: gray; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

body {
  /* background-color: green; */
}


#carousel {
  /* margin: 0; */
  width: 100%;
  /* margin-top: 100px; */
  /* max-width: 1200px; */

  /* background-color: red; */
  /* display: flex; */
  /* justify-content: space-between; */

  display: flex;
  align-items: center;
}

.test-img {
  width: 900px;
  height: 450px !important;
  object-fit: cover;
  position:  absolute;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: auto 0;
}

.project-0 {
  margin-left: -80px;
  /* margin-top: 50px; */
  height: 350px !important;
}

.project-1 {
  margin-left: -60px;
  height: 375px !important;
}

#test {
  /* display: flex; */
  justify-content: flex-start;
  width: fit-content;
  transition: width .3s;
  transition: border-bottom .2s;
  border-bottom: 1px solid transparent;
}

#test:hover {
  border-bottom: 1px solid black;
  /* width: fit-content; */
}

#project-li {
  /* background-color: blue; */
  width: 250px;
}

a:hover > #project-li > p > #test {
  border-bottom: 1px solid black;
  margin-left: -150px;
  width: 160px !important;
  text-align: left;
}

.project-2 {
  margin-left: -40px;
  height: 400px !important;
}

.project-3 {
  margin-left: -20px;
  margin-bottom: -50px;
  height: 425px !important;
}

.current-project {
  margin-left: 20px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.link {
  color: #525960;
  color: black;
  text-decoration: none;
}
