.Carousel {
  overflow: hidden;
  background-color: gray;
  width: 500px;
  height: 500px;
}

.inner {
  white-space: nowrap;
  transition: transform .3s;
}

.project {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  color: #fff;
}
