#footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

#footer-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
  list-style-type: none;
  margin: 0 24px;
  width: inherit;
  padding: 0;
}

#footer-inner > li {
  margin-left: 15px;
  font-size: 25px;
  transition: font-size .3s;
}

#footer-inner > li:hover {
  font-size: 30px;
}

#footer-inner > li > a > * {
  color: #3aafa9;
}

#contact-footer {
  display: none;
}

@media screen and (min-width: 800px) {
  #footer {
    background-color: #17252a;
    z-index: 1;
    height: 125px;
  }

  #footer-inner {
    max-width: none;
    width: 275px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
  }

  #footer-inner > li {
    margin-left: 0;
    margin-right: 15px;
  }

  #contact-footer {
    color: #3aafa9;
    font-weight: bolder;

    width: calc(100% - 295px);
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #contact-footer > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #contact-footer > li > span {
    color: white;
  }
}
